
<div class= "jumbotron center">
<h1>Hello, welcome to your dashboard!</h1>
<%= link_to	"Sign-out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-lg" %> 
<p>
<%= link_to "Add new boat", new_boat_detail_path, class: "btn btn-success btn-lg" %> 
	
</p>



</div>